.spritesFB {
    background: url('/Content/takimlogolari.jpg') no-repeat 0px -559px;
    width: 113px;
    height: 115px;
}
.spritesGS {
    background: url('/Content/takimlogolari.jpg') no-repeat -882px -687px;
    width: 113px;
    height: 115px;
}
.spritesBJK {
    background: url('/Content/takimlogolari.jpg') no-repeat -624px -8px;
    width: 113px;
    height: 115px;
}
.spritesBRS {
    background: url('/Content/takimlogolari.jpg') no-repeat -750px -143px;
    width: 113px;
    height: 115px;
}
.spritesGZT {
    background: url('/Content/takimlogolari.jpg') no-repeat -747px -703px;
    width: 113px;
    height: 115px;
}
.spritesDNZ {
    background: url('/Content/takimlogolari.jpg') no-repeat -750px -287px;
    width: 113px;
    height: 115px;
}
.spritesELZ {
    background: url('/Content/takimlogolari.jpg') no-repeat -248px -415px;
    width: 113px;
    height: 115px;
}
.spritesGRS {
    background: url('/Content/takimlogolari.jpg') no-repeat -367px -688px;
    width: 113px;
    height: 115px;
}
